@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#loader {
  position: relative;
  overflow: hidden;
}

#loader span {
  display: inline-block;
  animation: loader 1.2s ease-out infinite;
  position: absolute;
  left: -2.5rem;
}

@keyframes loader {
  to {
    left: 100%;
  }
}
